* {
    margin: 0;
    padding: 0;
    font-family: 'VT323', 'Ubuntu Mono', 'Fira Mono';
}


.container {
    height: 100vh;
    background-image: url('home.gif');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    z-index: -1;
}

.title {
    margin-top: 12vh;
    font-size: 3em;
}


#p{
    display:none;
    height: 70px;
    width: 70px;
    margin: 10px;
}
#onep{
    display:none;
    height: 70px;
    width: 70px;
    margin: 10px;
}

#test-area {
    width: 70vw;
    height: 60vh;
    box-sizing: border-box;
    padding: 2em;
    background-color: rgba(5, 5, 5, 0.8);
    border-radius: 10px;
    margin: auto;
    text-align: left;
    color: white;
    overflow: auto;
    font-size: 1.6em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#start {
    height: 100px;
    font-size: 80px;
    margin-top: 20px;
}
#res {
    display: none;
    height: 90px;
    font-size: 80px;
    margin-top: 20px;
}

@media only screen and (max-width: 800px) {

    .title {
        font-size: 2em;
    }

    .test-area {
        width: 80vw;
    }
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #b5e3f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0b7a9c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #006888;
}

