body {
	background: #FFFFFF;
	margin: 0px;
	min-width: 1075px;
}

td {
	font-size: 12px;
	font-family: arial, sans-serif;
	border: 1px solid black;
	text-align: center;
	border-radius: 5px;
}

#setup {
	display: none;
	margin: 15px;
}

#moneybar {
	float: right;
	border: 0px solid black;
	background-color: white;
	margin: 15px;
	border-radius: 5px;
	display: none;
	z-index: 14;
	position: relative;
	cursor: default;
	-webkit-user-select: none;
	user-select: none;
}

#moneybar table {
	font-weight: bold;
	border-spacing: 1px;
}

#moneybarwrap {
	position: absolute;
	min-width: 135px;
	top: 0px;
	right: 0px;
	-webkit-user-select: none;
	user-select: none;
}

#board {
	display: none;
	background-color: #ecfcf4;
	border: 2px solid black;
	border-radius: 10px;
	border-spacing: 3px;
	margin: 25px;
	float: left;
}

#jail {
	border: 1px solid black;
	height: 65px;
	width: 65px;
	position: relative;
	top: 73px;
	left: -73px;
	z-index: 2;
}

#control {
	position: absolute;
	z-index: 9;
	top: 250px;
	left: 250px;
	border: 2px solid black;
	border-radius: 20px;
	padding: 10px;
	display: none;
	background-color: white;
}

#quickstats {
	font-size: 12px;
	font-weight: bold;
	font-family: arial, sans-serif;
	border: 2px solid blue;
	margin: 5px;
	padding: 3px;
	width: 80px;
}

#pname {
	background-color: white;
}

#landed {
	padding: 3px;
	border: 1px solid gray;
	border-top: none;
	width: 302px;

	margin: 0px;
	text-align: center;
}

#alert {
	width: 307px;
	height: 92px;
	margin: 0px;
	padding-left: 1px;
	border: 1px solid gray;
	border-radius: 8px;
	font-family: Consolas, "Courier New", monospace;
	font-size: 13px;
	background-color: #FFFFFF;
	overflow-y: scroll;
}

#manage {
	width: 308px;
	border: 1px solid gray;
	display: none;
}

#option {
	border-bottom: 1px solid gray;
	background-color: white;
	display: none;
	background: white;
	vertical-align: middle;
	padding: 3px;
	text-align: center;
	min-height: 26px;
}

.die {
	display: none;
	margin: 5px;
	float: left;
}

.die-no-img {

	border-radius: 6px;
	font-weight: bold;
	border: 2px solid black;
	padding: 5px 10px;
}


.cell {
	position: relative;
	top: 0px;
	left: 0px;
	padding: 0px;
	vertical-align: bottom;
	background-repeat: no-repeat;
	background-size: auto 40px;
}

.board-center {
	width: 675px;
	border: none;
	vertical-align: bottom;
	background-repeat: no-repeat;
	background-size: auto 40px;
}

.board-corner {
	width: 102px;
	height: 102px;
}

.board-top {
	width: 72px;
	height: 102px;
}

.board-bottom {
	width: 72px;
	height: 102px;
}

.board-left {
	width: 102px;
	height: 72px;
}

.board-right {
	width: 102px;
	height: 72px;
}

.moneybarcell {
	width: 83px;
	min-width: 83px;
}

.moneybararrowcell {
	background: white;
	width: 30px;
	border: none;
	text-align: right;
	padding: 0px;
}

.money-bar-arrow {
	height: 30px;
	width: 30px;
}


.statscellcolor {
	padding: 0px;
	width: 22px;
	height: 20px;
	border: none;
}

.statscellname {
	height: 20px;
	border: none;
	cursor: default;
	text-align: left;
	min-width: 172px;
}

.statsplayername {
	font-weight: bold;
	font-size: 24px;
}

.statscell {
	border: 2px solid black;
	padding: 8px;
	vertical-align: top;
	width: 202px;
	min-width: 115px;
}

.cell-anchor {
	width: 100%;
	height: 100%;
	position: relative;
	bottom: 0px;
	left: 0px;
}

.cell-name {
	position: absolute;
	bottom: 0px;
	left: 0px;
	text-align: center;
	width: 100%;
}

.cell-position-holder {
	width: 100%;
	height: 100%;
	z-index: 1;
	position: relative;
}

.cell-position {
	height: 12px;
	width: 12px;
	border-radius: 10px;
	position: absolute;
	top: 0px;
	left: 0px;
}

.cell-owner {
	background-size: cover;
	display: none;
	position: absolute;
}

.board-top .cell-owner {
	background-image: url("images/hori-bar.png");
	height: 15px;
	left: 0px;
	top: -25px;
	width: 72px;
}

.board-bottom .cell-owner {
	background-image: url("images/hori-bar.png");
	bottom: -25px;
	height: 15px;
	left: 0px;
	width: 72px;
}

.board-left .cell-owner {
	background-image: url("images/vert-bar.png");
	height: 68px;
	left: -25px;
	top: 0px;
	width: 15px;
}

.board-right .cell-owner {
	background-image: url("images/vert-bar.png");
	height: 68px;
	right: -25px;
	top: 0px;
	width: 15px;
}